{% extends 'base.html.twig' %}

{% block title %}Gestión de Productos{% endblock %}

{% block body %}
    
    <div class="container mt-4">
        <h1>Gestión de Productos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.disponible ? 'Si' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_producto_show', {'id': producto.id}) }}">Mostrar</a>
                    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No existen productos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_producto_new') }}">Añadir nuevo producto</a>
    </div>
{% endblock %}
